<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavour Fellow</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<header>
    <img src="/image/logo.png" alt="Logo" class="logo">
        <div>
            <a href="/" class="boton">Inicio</a>
            <a href="/formularioReceta"class="boton">Crear receta</a>
            <a href="/misRecetas" class="boton">Mis recetas</a>
        </div>
</header>
</body>
</html>